// Custom sccs.

.img-cover img, img.img-cover {
	object-fit: cover;
	object-position: center center;
	transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
	height: 300px;
	@include media-breakpoint-up(md) {
		height: 100%;
	}
}
.img-cover .field--name-field-image {
	height: inherit;
}
.region-breadcrumb {
	overflow-x: auto;
    white-space: nowrap;
    display: block;
	.breadcrumb {
		float: left;
	}
}

//Facets

.facet-block__title {
	font-size: larger;
}

.facets-widget-links ul li.facet-item label .facet-item__value {
	text-decoration: none !important;
    color: var(--bs-link-color) !important;
    padding: 0.25rem;
    display: block;
}

.facet-block,
.block-facets-summary {
	ul {
		list-style: none;
	}
}

.block-facets-summary {
	display: inline-block;
		ul {
			padding-left: 0;
			display: flex;
			li {
				margin-left: 0.5rem;
			}
		}
}

.card {
	@include media-breakpoint-down(sm) {
		margin-right: -1.25rem;
		margin-left: -1.25rem;
	}
}

.text-bg-dark,
.text-bg-secondary {
	::marker {
		color: white;
	}
}

// Parallax
.parallax {
	/*background-attachment: fixed;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	height: 500px;
	@include media-breakpoint-up(lg) {
		height: 600px;
	}
}
.parallax-caption { 
	padding: $spacer;
	color: #ffffff;
	display: flex;
	align-items: center;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.3);
	p {
		font-size: $h4-font-size;
	}
	@include media-breakpoint-up(lg) {
		h2, h3 {
					margin: 0;
			& + p {
				margin-top: ($spacer * 1.5);
			}
		}
		p {
			font-size: $h3-font-size;
		}
	}
}
.parallax-caption-content, .parallax-description-content {
	@include media-breakpoint-up(lg) {
		width: 100%;
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}
.parallax-description {
	padding: ($spacer * 3) 0.75rem;
	p, ul {
		font-size: $h5-font-size;
		@include media-breakpoint-up(lg) {
			font-size: $h4-font-size;
		}
	}
}

//Default Article Image

.article-image {
	height: 400px;
	@include media-breakpoint-up(lg) {
		height: 600px;
	}
}

// Footer
footer.footer-dark {
	a img {
		filter: invert(1);
	}
}

footer .region-footer {
	padding-top: 2rem;
	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

// Back top
#backtotop {
	background: url(img/backtotop.png);
}

// Paragraphs
.page-node-type-basic .paragraph--type--chessboard .field--name-field-text {
	font-size: large;
}

// Question
.side-heading {
	@include media-breakpoint-up(md) {
		transform: rotate(180deg);
		writing-mode: vertical-lr;
	}
}